<ion-view class = "text-center" view-title="Tagger">
	<div class="bar bar-header bar-positive item-input-inset">
  		<label class="item-input-wrapper">
   	 		<i class="icon ion-ios-search placeholder-icon"></i>
    		<input ng-model="query" type="search" placeholder="Search">
  		</label>
  		<button ng-click="search()" class="button button-clear">
    		Search
  		</button>
	</div>


  <ion-content class="has-header" overflow-scroll="true" scrollbar-y="true" class = "padding-top padding dash-content">
		<div class="row" ng-if="product.id">
			<div class="col">
				<div class="card">
	  				<div class="item item-divider">
	   					{{ product.name }}
	  				</div>
	  				<div class="item item-body">
	  					<div class="pulse1"></div>
	    				<div class="icon1"><img class="full-image circular--square" src="{{product.image}}"></div>
	    				<div class="pulse2"></div>
	    			</div>
	    			<div class="item item-divider">
	   					ID {{ product.id }}
	  				</div>
				</div>

			</div>

		</div>
		<div ng-if="!product.id" class="row">
			<div class="col">
				<h3> Search for a product by name or id </h3>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h2> {{ uid }} </h2>
				<h4> NFC UID </h4>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<button ng-click="tagProduct()" class="button button-block button-positive">
  					Tag
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<button class="button button-block button-positive">
  					Update Inventory
				</button>
			</div>
		</div>
		<div class="nav-buttons">
        <div ng-click="logout()" class="fab button padding">
            <i class="icon ion-log-out"></i>
        </div>
    </div>
    </div>
    </ion-content>
</ion-view>